.d-flex {
    display: flex;
}

.charBox {
    align-items: center;
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    height: 150px;
    margin: 5px;
    width: 150px;
}

.attackerBox {
    border: 3px solid green;
}

.defenderBox {
    border: 3px solid red;
}