html {
    box-sizing: border-box;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url('./../images/background.jpg');
    display: flex;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.charBox {
    align-items: center;
    border-radius: 5px;
    display: flex;
    background-color: white;
    border: 3px solid orange;
    flex-direction: column;
    margin: 0px 5px;
}

.charImg {
    width: 100px;
    height: auto;
}

.attacker {
    display: flex;
    min-height: 100px;
    justify-content: center;
    margin: 0;
    width: 50%;
}

.attackerBox {
    border: 3px solid green;
}

.defender {
    display: flex;
    min-height: 100px;
    justify-content: center;
    width: 50%;
    margin: 10px;
}

.defenderBox {
    border: 3px solid red;
}

.logo {
    width: 300px;
    height: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%
}

h2,p {
    color: yellow;
}
